.places-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.locations-nav {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.location-link {
  text-decoration: none;
  color: #468392;
  font-weight: bold;
}

.places-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.places-grid h3 {
  color: black;
}

.place-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.place-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
