@import "../../../vars.css";

.footer-page {
  height: 100%;
  padding-top: 2rem;
  color: var(--color-text);
  background-color: var(--color-Fifth);
}

.footer-page .sec-footer {
  height: 100%;
  padding: 3rem;
  text-align: justify;
  font-size: 15px;
}

.sec-footer div.col {
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.sec-footer h5 {
  font-weight: 600;
  color: var(--color-bg);
  font-size: 18px;
}

.sec-footer h5 img{
  width: 15rem;
}

.sec-footer p {
  color: var(--color-bg);
}

.sec-footer ul {
  margin-left: -2rem;
}

.sec-footer ul li {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
}

.sec-footer ul li a {
  text-decoration: none;
  color: var(--color-bg);
}

.sec-footer .tiktok,
.sec-footer .youtube,
.sec-footer .ig {
  margin-bottom: 5px;
}

.sec-footer .icon-follow a{
  color: #CDCDCD;
}

.sec-footer .icon-follow a:hover {
  color: var(--color-bg);
}

.sec-footer .tiktok a,
.sec-footer .youtube a,
.sec-footer .ig a {
  color: #CDCDCD;
  text-decoration: none;
}
.sec-footer .tiktok a:hover,
.sec-footer .youtube a:hover,
.sec-footer .ig a:hover {
  color: var(--color-bg);
}

.copyright {
  background-color: var(--color-Fifth);
  border-top: 1px solid var(--color-bg);
}

.copyright-text {
  font-size: small;
  color: var(--color-bg);
}
