@import "../../../vars.css";

.recommendation-section {
  padding: 50px;
  padding-bottom: 100px;
}

.recommendation-title {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  padding-left: 0.7rem;
  gap: 1.5rem;
}

.recommendation-title h2 {
  font-weight: bold;
  font-size: 2rem;
}

.recommendation-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.recommendation-tab {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.recommendation-tab:hover {
  color: var(--color-Fifth);
}

.recommendation-tab.active {
  background-color: var(--color-Fifth);
  color: #fff;
}

.recommendation-list {
  display: flex;
  overflow-x: auto;
  padding: 0 10px;
  padding-bottom: 40px;
  gap: 50px;
}

.recommendation-card {
  flex: 0 0 auto;
  width: 230px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-bg);
  cursor: pointer;
}

.recommendation-card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  padding-bottom: 10px;
}

.recommendation-card-caption {
  padding: 10px;
  text-align: left;
}

.recommendation-card-caption h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.recommendation-card-caption p {
  font-size: 1.5rem;
  color: gold;
  letter-spacing: 0.2em;
}

.star-full {
  margin: 0 0.2rem;
}

.star-half {
  margin: 0 0.2rem;
}

#recommendation_harga {
  font-size: 0.8rem;
  color: var(--color-text);
}
