@import "../../../vars.css";

/* section kategori tempat */
.kategori {
  padding: 3rem;
  padding-bottom: 6rem;
}

.kategori h4 {
  text-align: center;
  padding: 2rem;
  padding-bottom: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-size: 2rem;
}

.card-kategori .img {
  height: 18rem;
  width: 100%;
}

.kategori div.col {
  padding: 1rem;
}

.card-kategori .card {
  width: 18rem;
  border: none;
  padding: 0;
}

.card-kategori {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.card-text {
  font-size: 2rem;
  text-align: center;
  margin: 120px 0;
  text-shadow: 1px 3px 1px rgba(5, 5, 5, 0.5);
}

.text-wrap {
  position: absolute;
}

.text-wrap:hover {
  background: rgba(0, 0, 0, 0.5);
}

.kategori .sec-card {
  padding: 0;
}
