@import "../../../vars.css";

.menu {
  margin-top: 5rem;
  padding: 0;
}

.menu_title {
  display: flex;
  align-items: center;
  padding-left: 3.5rem;
  margin-bottom: 3rem;
  gap: 1.5rem;
}

.menu h2 {
  font-weight: 600;
  margin-top: 1rem;
}

.menu-card h3 {
  color: var(--color-bg);
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0.15em;
}

.menu-card p {
  color: var(--color-bg);
}

.menu .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2em;
  margin: 0 7rem;
  padding-bottom: 6rem;
}

.menu-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.3rem 0;
  border-radius: 1.4rem;
  text-decoration: none;
}

#jakarta {
  background-image: url(../src/assets/Home/city/jakarta.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#bogor {
  background-image: url(../src/assets/Home/city/bogor.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#depok {
  background-image: url(../src/assets/Home/city/depok.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#tangerang {
  background-image: url(../src/assets/Home/city/tangerang.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#bekasi {
  background-image: url(../src/assets/Home/city/bekasi.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#bandung {
  background-image: url(../src/assets/Home/city/bandung.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.menu-card:hover {
  transform: scale(1.12);
}
